dist
coverage
node_modules
functions/node_modules
scripts/node_modules
local
public
package-lock.json
functions/src/shared/characters.ts
functions/src/shared/crews.ts
functions/src/shared/rules/
*.md
firestore.indexes.json
